/*@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");*/
body {
    font: 20px/30px "Lato", sans-serif;
    color: #626e7d;
    background: #000000;
    -webkit-text-size-adjust: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lato", sans-serif;
}

h2 {
	font-size: 22px;
	line-height: 40px;
	color: #00397b;
	font-weight: 900;
}
h3 {
	font-size: 20px;
	color: #00397b;
	font-weight: bold;
}
a {
	text-decoration: none;
	color: #234c85;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}

a:hover,
a:focus {
	color: #4d7fb6;
	text-decoration: underline;
}
.container-fluid {
    overflow-x: hidden !important;
}

.container-fluid .row {
    overflow-x: hidden !important;
}
/*Nav bar*/
.navbandastyle {
    font-family: "Lato", sans-serif;
    color: #234c85;
    font-size: 30px;
}

nav {
    background: rgba(255, 255, 255, 0.9);
    height: 93px;
}
.navbar-light .navbar-brand {
    color: #234c85;
}

.navlia {
    border: none;
    color: #00397b !important;
    font-size: 14px;
    line-height: 37px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    position: relative;
    background: none !important;
    padding-left: 42px !important;
    /*letter-spacing: -1px;*/
}
/*Home Page*/
.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40%;
    right: 0;
    text-align: center;
}

.img-overlay:before {
    content: " ";
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 74%;
}

.btn-readmore {
    color: #194a85 !important;
    background: #fff;
    border-color: #007095;
    transition: 500ms;
    font-size: 18px;
    font-weight: 900;
    line-height: 46px;
    padding: 0 16px;
    font-family: "Lato", sans-serif;
}

.btn-readmore:hover {
    background-color: #00428a;
    color: white !important;
}

.btn-down {
    left: 50%;
}

p {
    color: #00397b;
}
.featured-image {
    background: url("/static/images/bg_h1.jpg") no-repeat 50% 50% fixed;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}

.banner-image2
{
    background: url("/static/images/bg_h2.jpg") no-repeat 50% 50% fixed;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}
.banner-image3
{
    background: url("/static/images/bg_h3.jpg") no-repeat 50% 50% fixed;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}
.banner-image4
{
    background: url("/static/images/bg_h5.jpg") no-repeat 50% 50% fixed;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}
.learn-more p a {
    color: #00a4d3;
    font-weight: 900;
}
/* Footer
------------------------------------------------------------------------------*/

#footer {
	clear: both;
	text-align: center;
	padding: 47px 0;
	margin-top: 0;
}

#footer ul,
#footer li {
	display: inline-block;
	margin: 0;
	list-style: none;
	color: #ffffff;
	font-size: 13px;
	padding: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#footer li + li:before {
	padding: 0 13px;
	content: "|";
}

#footer ul {
	display: block;
	padding: 15px;
	background: url("/static/images/bg_footer.png") no-repeat 50% 0;
}

#footer li a {
	color: #ffffff;
}
#footer li a:hover,
#footer li a:focus {
	color: #C3C3C3;
}


#footer p {
	color: #7d7d7d;
	font-size: 12px;
	padding-bottom: 28px;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 14px;
}
#footer p a:hover,
#footer p a:focus {
	color:#ffffff;
}

#footer span {
	padding: 0 10px;
}

#footer p a {
	color: #7d7d7d;
}