/*@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");*/

body {
    font: 20px/30px "Lato", sans-serif;
    color: #626e7d;
    background: #000000;
    -webkit-text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}

h2 {
    font-size: 22px;
    line-height: 40px;
    color: #00397b;
    font-weight: 900;
}

h3 {
    font-size: 20px;
    color: #00397b;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #234c85;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

a:hover,
a:focus {
    color: #4d7fb6;
    text-decoration: underline;
}

.container-fluid {
    overflow-x: hidden !important;
}

.container-fluid .row {
    overflow-x: hidden !important;
}

.btnr {
    color: #194a85;
    background: #fff;
    border-color: #007095;
    transition: 500ms;
    font-size: 18px;
    font-weight: 900;
    line-height: 46px;
    padding: 0 16px;
    font-family: "Lato", sans-serif;
    text-decoration: none;
}

.btnr:hover {
    text-decoration: none;
}

/*Nav bar*/

.navbandastyle {
    font-family: "Lato", sans-serif;
    color: #234c85;
    font-size: 30px;
}

nav {
    background: rgba(255, 255, 255, 0.9);
    height: 93px;
}

.navbar-light .navbar-brand {
    color: #234c85;
}

/*.navlia {
    border: none;
    color: #00397b;
    font-size: 14px;
    line-height: 37px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    position: relative;
    background: none !important;
    padding-left: 42px !important;
    
}*/

@keyframes nav-link-animation {}

.navbar-light .navbar-nav .nav-link {
    color: #00397b;
    border: none;
    font-size: 14px;
    line-height: 37px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    position: relative;
    background: none !important;
    padding-left: 42px !important;
}

.navbar-light .navbar-nav .nav-link:after {
    /*background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: red;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;*/
    opacity: 0;
	content: "";
	height: 2px;
	width: 100%;
	background: #8baac9;
	/*position: absolute;*/
	top: 100%;
	left: 0;
	display: block;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}


.navbar-nav .nav-item:hover .nav-link {
    color: #9bb4cd;
}
.navbar-light .navbar-nav .nav-link:hover:after{
    /*color: #9bb4cd;*/
    width: 100%;
    left: 0;
    transform: translateY(-10px);
	opacity: 1;
}

/*Home Page*/

.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40%;
    right: 0;
    text-align: center;
}

.img-overlay:before {
    content: " ";
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 74%;
}

.btn-readmore {
    color: #194a85 !important;
    background: #fff;
    border-color: #007095;
    transition: 500ms;
    font-size: 18px;
    font-weight: 900;
    line-height: 46px;
    padding: 0 16px;
    font-family: "Lato", sans-serif;
}

.btn-readmore:hover {
    background-color: #00428a;
    color: white !important;
}

.btn-down {
    left: 50%;
}

p {
    color: #00397b;
}

.featured-image {
    background: url("/static/images/bg_h1.jpg") no-repeat 50% 50% fixed;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}

.banner-image2 {
    background: url("/static/images/bg_h2.jpg") no-repeat 50% 50% fixed;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}

.banner-image3 {
    background: url("/static/images/bg_h3.jpg") no-repeat 50% 50% fixed;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}

.banner-image4 {
    background: url("/static/images/bg_h5.jpg") no-repeat 50% 50% fixed;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}

.learn-more p a {
    color: #00a4d3;
    font-weight: 900;
}

/*Law Firm**************************************/

.banner-image {
    background: url("/static/images/bg_h1.jpg") no-repeat 50% 50% fixed;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    height: 75vh;
}

.banner-image:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 75vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

.banner-image h2 {
    font-size: 52px;
}

a.print {
    float: right;
    border: 1px solid #a0a7b1;
    font-size: 11px;
    color: #626e7d;
    /*margin: 62px 0 -50px;*/
    margin: 1.5rem 0px;
    line-height: 23px;
    padding: 0 10px;
    text-transform: uppercase;
    width: 135px;
    text-align: center;
}

a.print:hover,
a.print:focus {
    background: #b3c5db;
    color: #284c8a;
    text-decoration: none;
}

.law_firm_description {
    background: #EEF2F7;
    padding: 30px 30px 30px 30px
}

.law_firm_description h1 {
    font-size: 26px;
    line-height: 40px;
    color: #00397b;
    font-weight: 900;
    font-style: normal;
}

.law_firm_description h2 {
    font-size: 22px;
    line-height: 40px;
    color: #00397b;
    font-weight: 900;
}

.law_firm_description p {
    font-family: inherit;
    font-size: 16px;
    font-weight: normal;
    color: #626e7d;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
}

.law_firm_description ul li {
    font-size: 16px;
    list-style-position: outside;
    list-style-type: ">";
    padding: 10px;
}

/*Practice *************************************************************************/

.practiceArea {
    padding-bottom: 3rem;
}

.practiceArea a {
    color: #234b85;
    width: 100%;
    padding: 0 25px;
    text-align: center;
    background: #fff;
    display: table;
    height: 100px;
    font-size: 18px;
    font-weight: bold;
    transition: 500ms;
}

.practiceArea a:hover {
    text-decoration: none;
    background: #234b85;
    color: #ffff;
}

.banner-image5 {
    background-image: url("/static/images/bg_case.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}

.banner-image6 {
    background-image: url("/static/images/bg_news.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}

.banner-image5 .card-img-top {
    max-height: 135px;
}

.banner-image5 h3 {
    font-size: 20px;
    font-weight: bold;
}

.banner-image5 .card {
    background-color: transparent;
    color: white;
    border: none;
}

.banner-image5 .card-header {
    border: none;
    color: white;
    padding: 0px 0px;
}

.banner-image5 .card-header a {
    color: #ffff;
    text-decoration: none;
    transition: 500ms;
}

.banner-image5 .card-header a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #98B1CE;
}

.banner-image5 .card .card-body {
    color: white;
    padding: 1rem 0px;
}

.banner-image5 .card .card-body .card-text {
    color: white;
}

.banner-image5 a.btnr:hover {
    text-decoration: none;
    background-color: #98B1CE;
    ;
}

.pactice_contact {
    padding: 8rem 0px;
    background: #fff;
}

.pactice_contact h1 {
    font-weight: 300;
    color: #234b85;
}

.pactice_contact .btnr {
    color: #fff;
    background: #194a85;
    transition: 500ms;
}

.pactice_contact .btnr:hover {
    background: #8CA8C9;
}

/*Attorneys************************************************************************/

.our_team {
    background: #EEF2F7;
    padding: 93px 40px 3rem 40px;
}

.our_team a {
    text-decoration: none;
    transition: all .5s ease;
}

.our_team a:hover .card-body {
    text-decoration: none;
    background-color: rgba(35, 76, 133, .9);
    color: #fff;
}

.our_team .card .card-body {
    position: absolute;
    bottom: 0;
    color: #00397b;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .65);
    padding: 0px 0px;
    padding: 21px 15px 28px;
    transition: all .5s ease;
}

.our_team .card .card-body h2 {
    font-weight: 700;
    font-size: 21px;
    margin: 0 0 -1px;
    line-height: normal;
    padding: 0;
    transition: all .5s ease;
    color: inherit;
}

.our_team .card .card-body i {
    line-height: normal;
    font-size: 16px;
    display: block;
    letter-spacing: .5px;
    transition: all .5s ease;
    font-style: italic;
}

/*Offices********************************************************************/

.offices {
    background: #EEF2F7;
    padding: 93px 40px 3rem 40px;
}

.offices .card {
    border: none;
}

.offices .card .card-body {
    background: #EEF2F7;
    padding: 1rem 0px;
}

.offices .card .card-body h2 {
    color: #00397b;
    font-size: 20px;
    margin: 22px 0 2px;
    font-weight: bold;
    text-transform: uppercase;
}

.offices .card .card-body p {
    color: #626e7d;
    font-size: 20px;
    margin: 0 0 30px;
    ;
    line-height: 30px;
}

/*Blog*************************************************************************/

#sidebar form {
    height: 50px;
    background: #fff;
    margin-bottom: 50px;
    position: relative;
}

#sidebar form button .fa {
    padding-left: 4px;
}

#sidebar form button {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    text-align: center;
    border-color: #007095;
    transition: background-color 300ms ease-out;
    background: #8ca8c9;
    border-style: solid;
    border-width: 0;
}

#sidebar form button:hover {
    background: #234C85;
}

#sidebar form input {
    width: 100%;
    display: block;
    letter-spacing: -.3px;
    border: 0;
    color: #a2b3c7;
    font-size: 18px;
    font-style: italic;
    background: none;
    padding: 11px 120px 0 18px;
}

#sidebar .btnr {
    background: #8ca8c9;
    padding: 10px 23px;
    height: 53px;
    line-height: 53px;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
    border-color: #007095;
    transition: background-color 300ms ease-out;
}

#sidebar .btnr:hover {
    background: #007095;
    text-decoration: none;
    border-color: #007095;
}

.text-a {
    color: #626e7d;
    font-size: 18px;
}

#sidebar .card {
    border: none;
    padding: 0px;
}

#sidebar .card-header {
    border: none;
    background-color: initial;
    padding: 0px;
}

#sidebar .card .card-body {
    padding: 0px;
    margin: 0px;
}

/*Inside Practice areas********************************************************/

.practice-areas ul li {
    background-color: #fff;
    list-style: none;
    padding: 0px;
    margin: 1rem -40px;
}

.practice-areas ul li a {
    text-decoration: none;
    color: #234c85;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    display: block;
    color: #00397b;
    font-size: 18px;
    padding: 14px 15px;
}

.practice-areas ul li a:hover {
    text-decoration: none;
    background-color: #234c85;
    color: #fff;
}

.practice-areas ul li a::before {
    margin-right: 10px;
    content: "\f105";
    padding-left: 1px;
    position: relative;
    top: 0;
    display: inline-block;
    font: normal normal normal 17px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
    -moz-osx-font-smoothing: grayscale;
}

/*Inside Our team***************************************************************/

.show-lg {
    background: #EEF1F6;
    padding-top: 93px;
}

.show-mobile {
    display: none;
    padding-top: 93px;
}

#accordion .card .card-header .expander:after {
    font-family: Fontawesome;
    content: '\f077';
    float: right;
    font-size: 10px;
    font-weight: 300;
}

#accordion .card .card-header .expander.collapsed:after {
    font-family: Fontawesome;
    content: '\f078';
}

.slider {
    background: #fff;
    padding: 1% 2%;
    display: none;
}

.expander {
    background: #d9dfe8;
    color: #222222;
    cursor: pointer;
    padding: 1rem 1rem;
    width: 100%;
    transition: all .5s ease;
    font-size: 16px;
    line-height: 1.6;
}

.expander:hover {
    background: #fff;
    color: #000;
}

#accordion .card {
    border: none;
    border-radius: 0;
}

#accordion .card .card-header {
    border: none;
    border-radius: 0;
    padding: 0px;
}

.tab {
    overflow: hidden;
    padding-top: 2rem;
    margin-left: 2rem;
    max-width: 589px;
}

.tabs_container {
    margin-left: 2rem;
}

/* Style the buttons inside the tab */

.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .5s ease;
    height: 50px;
    font-size: 15px;
    line-height: 15px;
    color: #474747;
    padding: 0;
    background: #d9dfe8;
    text-align: center;
    text-decoration: none;
    padding: 10px 9px 8px;
    width: 24%;
}

/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #474747;
}

/* Create an active/current tablink class */

.tab button.active {
    background-color: #fff;
}

/* Style the tab content */

.tabcontent {
    display: none;
    padding: 25px 12px;
    background-color: rgba(255, 255, 255, .9);
    border-top: none;
    max-width: 589px;
    max-height: 812px;
    overflow-y: scroll;
}

a.btn-back {
    float: right;
    border: 1px solid #a0a7b1;
    font-size: 11px;
    color: #626e7d;
    margin: 4px 0 -32px;
    line-height: 23px;
    padding: 0 10px;
    text-transform: uppercase;
}

a.btn-back:hover,
a.btn-back:focus {
    text-decoration: none;
    background: #00397b;
    border-color: #00397b;
    color: #fff;
}

.tab-attorney-title {
    color: #00397b;
    border-bottom: 1px solid #dedede;
    padding-bottom: 13px;
    font-size: 20px;
    line-height: normal;
    margin: 0;
}

.tab-attorney-name {
    color: #00397b;
    font-size: 24px;
    line-height: normal;
    padding: 0 !important;
    font-weight: 900;
    text-transform: uppercase;
    margin: -1px 0;
}

.contact {
    padding-bottom: 22px;
}

.contact p {
    color: #00397b;
    font-size: 20px;
    padding: 10px 0 7px;
    margin: 0;
    line-height: normal;
}

a.button.light {
    font-size: 16px;
    color: #fff;
    background: #00397b;
    padding: 0 10px;
    line-height: 32px;
    display: block;
    width: 196px;
    margin-bottom: 8px;
    text-align: left;
}

a.button.light:hover,
.button.light:focus {
    background: #234c85;
    text-decoration: none;
}

.entry {
    margin-bottom: 5px;
}

.entry p {
    margin: 0 0 30px;
    font-size: 16px;
    line-height: 30px;
    color: #626e7d;
}

.tabs_container h2:not(.tab-attorney-name) {
    font-size: 20px;
    font-weight: bold;
    color: #00397b;
}

.entry ul li:before,
.bio #panel2 ul li:before,
.bio #panel3 ul li:before,
.bio #panel4 ul li:before,
.ul0 li:before {
    margin-right: 11px;
    content: "\f105";
    position: relative;
    top: -1px;
    display: inline-block;
    font: normal normal normal 17px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
    -moz-osx-font-smoothing: grayscale;
    list-style-type: none;
}

.entry ul li {
    color: #626e7d;
    font-size: 16px;
    margin: 0;
    list-style: none;
    padding: 0 0 6px 20px;
    /* Fix for text on second line */
    text-indent: -11px;
    margin-left: 23px;
}

/* Footer
------------------------------------------------------------------------------*/

#footer {
    clear: both;
    text-align: center;
    padding: 47px 0;
    margin-top: 0;
}

#footer ul,
#footer li {
    display: inline-block;
    margin: 0;
    list-style: none;
    color: #ffffff;
    font-size: 13px;
    padding: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#footer li+li:before {
    padding: 0 13px;
    content: "|";
}

#footer ul {
    display: block;
    padding: 15px;
    background: url("/static/images/bg_footer.png") no-repeat 50% 0;
}

#footer li a {
    color: #ffffff;
}

#footer li a:hover,
#footer li a:focus {
    color: #C3C3C3;
}

#footer p {
    color: #7d7d7d;
    font-size: 12px;
    padding-bottom: 28px;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 14px;
}

#footer p a:hover,
#footer p a:focus {
    color: #ffffff;
}

#footer span {
    padding: 0 10px;
}

#footer p a {
    color: #7d7d7d;
}