{% extends 'base.html' %} {% load static %} {% block title %}
<title>Miami Complex Business Litigation Lawyer | Lash Goldberg</title>
{% endblock title %} {% block container %}

<div class="container-fluid p-0">

    <div class="our_team">
        <div class="row" style="margin: 2.5rem 0px;">
            <div class="col">
                <h2 class="text-uppercase">Our Team</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12 my-3">
                <a href="{% url 'inside_team' %}">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'images/alan-lash.jpg' %}" alt="Card image cap">
                        <div class="card-body text-center">
                            <h2>Alan D. Lash</h2>
                            <i>Partner</i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 my-3">
                <a href="#">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'images/alan-lash.jpg' %}" alt="Card image cap">
                        <div class="card-body text-center">
                            <h2>Alan D. Lash</h2>
                            <i>Partner</i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 my-3">
                <a href="#">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'images/alan-lash.jpg' %}" alt="Card image cap">
                        <div class="card-body text-center">
                            <h2>Alan D. Lash</h2>
                            <i>Partner</i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 my-3">
                <a href="#">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'images/alan-lash.jpg' %}" alt="Card image cap">
                        <div class="card-body text-center">
                            <h2>Alan D. Lash</h2>
                            <i>Partner</i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 my-3">
                <a href="#">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'images/alan-lash.jpg' %}" alt="Card image cap">
                        <div class="card-body text-center">
                            <h2>Alan D. Lash</h2>
                            <i>Partner</i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 my-3">
                <a href="#">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'images/alan-lash.jpg' %}" alt="Card image cap">
                        <div class="card-body text-center">
                            <h2>Alan D. Lash</h2>
                            <i>Partner</i>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</div>

{%endblock container%}