{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-5" />
    <meta name="viewport" content="initial-scale=1" />
    <link
      rel="stylesheet"
      href="{%static 'bootstrap/css/bootstrap.min.css'%}"
    />
    <link
      rel="icon"
      type="image/png"
      href="{% static 'images/favicon.ico' %}"
    />
    <link rel="stylesheet" href="{%static 'css/home.css'%}" />
    <link rel="stylesheet" href="{%static 'css/responsive.css'%}" />
    <link rel="stylesheet" href="{%static 'css/all.css'%}" />
    <link
      rel="stylesheet"
      href="{%static 'css/animate-min.css'%}"
    />
    <script src="{%static 'bootstrap/js/jqureyslim.js'%}"></script>
    <script src="{%static 'bootstrap/js/bootstrap.min.js'%}"></script>
    {% block title %} {% endblock title %}
  </head>

  <body>
    <nav
      class="navbar navbar-expand-md navbar-light fixed-top animate__animated animate__fadeInDown nav-fluid"
    >
      <div class="container-fluid">
        <a class="navbar-brand navbandastyle" href="#"> 
          <img src="{% static 'images/logo.png' %}" alt="">
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link text-uppercase navlia" href="#">Who We are</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase navlia" href="#">What We Do </a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-uppercase navlia" href="#"> Our Team </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase navlia" href="#"> What's New</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-uppercase navlia" href="#">
                Where We Are</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block container %} {% endblock container %}
    <!--
    <footer>
      <div class="container">
        <div class="row" style="padding-top: 2rem;">
          <div class="col " id="footerNav" aria-label="Footer Navigation">
            <ul style="font-size: 12px;" class="text-uppercase d-flex justify-content-center">
              <li>© 2014–2020 Lash & Goldberg LLP. All rights reserved.</li>
    
              <li class="sep"></li>
    
              <li><a href="#">Sitemap</a></li>
    
              <li class="sep"></li>
    
              <li><a href="#">Disclaimer</a></li>
              <li class="sep"></li>
              <li><a href="#">A PaperStreet Web Design</a></li>
            </ul>
          </div>
          
        </div>
        <section class="content" aria-label="The Fine Print">
          <span class="copyright">© 2020 Grossman LLP. All Rights Reserved.</span>
    
          <p class="smallTxt">Attorney Advertising.</p>
        </section>
      </div>
    </footer>
  -->
  <footer id="footer">
    <div class="container">
      <p>&copy; 2014&ndash;2020 Lash &amp; Goldberg LLP. All rights reserved.<span>|</span> <a
          href="/sitemap/">Sitemap</a> <span>|</span> <a href="/disclaimer/">Disclaimer</a> <span>|</span> <a
          href="https://www.paperstreet.com" target="_blank">A PaperStreet Web Design</a></p>
      <ul>
        <li><a href="/offices/miami/">Miami</a></li>
        <li><a href="/offices/fort-lauderdale/">Fort Lauderdale</a></li>
        <li><a href="/offices/tampa/">Tampa</a></li>
        <!-- <li><a href="/offices/tallahassee2/">Tallahassee</a></li> -->
      </ul>
    </div>
    <!-- / container -->
  </footer>
  </body>
</html>
