{% extends 'base.html' %} {% load static %} {% block title %}
<title>Fort Lauderdale Litigation Attorneys | Lash Goldberg</title>
{% endblock title %} {% block container %}
<div class="container-fluid p-0">
    <div class="row banner-image">
        <div class="col text-center animate__animated animate__fadeIn animate__delay-1s d-flex justify-content-center align-items-center">
            <h2 style="color: #ffff;font-weight: 300;">
                Our Business is Understanding <strong>Yours</strong>
            </h2>
        </div>
    </div>
    <section class="law_firm_description">
        <div class="row">
            <div class="col-md-8" id="left_sidebar">
                {% include 'blog_left_side.html' %}
            </div>
            <div class="col-md-4" id="sidebar">
                {% include 'blog_right_sidebar.html' %}
            </div>
        </div>

    </section>

</div>
{% endblock container %}