{% load static %}
<div class="row">
    <div class="col">
        <h1 style="padding-top: 1rem;padding-bottom: 1rem;" class="text-uppercase">What's New</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2>Page 3</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2><a href="#">2019 Best Lawyers Recognition</a></h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="#" class="text-a">Press Releases</a>
    </div>
</div>
<div class="row my-3">
    <div class="col">
        <p style="font-size: 22px;">
            Alan Lash and Martin Goldberg have been selected for inclusion in the 2019 Edition of Best Lawyers®.
        </p>
    </div>
</div>
<div class="row my-3">
    <div class="col">
        <hr>
    </div>
</div>