{% extends 'base.html' %} {% load static %} {% block title %}
<title>Fort Lauderdale Litigation Attorneys | Lash Goldberg</title>
{% endblock title %} {% block container %}
<div class="container-fluid p-0">
    <div class="row banner-image">
        <div class="col text-center animate__animated animate__fadeIn animate__delay-1s d-flex justify-content-center align-items-center">
            <h2 style="color: #ffff;font-weight: 300;">
                Our Business is Understanding <strong>Yours</strong>
            </h2>
        </div>
    </div>
    <section class="law_firm_description">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col">
                        <h1 style="padding-top: 1rem;padding-bottom: 1rem;" class="text-uppercase">What's New</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="sidebar">
                <div class="row">
                    <div class="col">
                        <form action="#" class="search" method="get">
                            <input id="blog-search-input" name="searchTerm" value="" type="text" required="1" placeholder="Type Your Search"
                                class="placeholder">
                            <button type="submit" value="" class="button light">Search <i class="fa fa-angle-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>
{% endblock container %}