{% extends 'base.html' %} {% load static %} {% block title %}
<title>Miami Commercial Litigation Attorneys | Lash Goldberg</title>
{% endblock title %} {% block container %}
<div class="container-fluid p-0">
    <div class="row banner-image">
        <div
            class="col text-center animate__animated animate__fadeIn animate__delay-1s d-flex justify-content-center align-items-center">
            <h2 style="color: #ffff;font-weight: 300;">
                Our Business is Understanding <strong>Yours</strong>
            </h2>
        </div>
    </div>
    <section class="law_firm_description">
        <div class="row">
            <div class="col">
                <a href="#" onclick="window.print()" class="print" style="display: none;">PRINT THIS PAGE</a>
                <h1 style="padding-top: 1rem;padding-bottom: 1rem;">DISCLAIMER</h1>
                <h2>Legal Policy</h2>
                <p>The following is the legal and privacy policy of Lash & Goldberg LLP hereinafter ("the Firm").
                </p>
                <h2>Legal Disclaimer</h2>
                <p>Unless otherwise indicated, Florida attorneys are Not Certified by the Florida&nbsp; Board of Legal Specialization in
                    the areas of practice listed on their profiles.</p>
                <h2>Attorney Client Relationship</h2>
                <p>The materials on this web site are intended for informational purposes only. The materials on this Web site are not
                    intended to be, nor should they be interpreted as, legal advice or opinion. The reader should not consider this
                    information to be an invitation to an attorney-client relationship, should not rely on information presented here
                    for any purpose, and should always seek the legal advice of counsel in the appropriate jurisdiction. Transmission
                    and receipt of the information in this site and/or communication with the Firm via e-mail is not intended to solicit
                    or create, and does not create, an attorney-client relationship between the Firm and any person or entity.</p>
                <h2>Transmission of Information</h2>
                <p>Electronic mail or other communications through this site or otherwise to the Firm or any of its lawyers in
                    connection with a matter for which we do not already represent you may not be treated as privileged or confidential.
                    If you choose to contact us through this web site, you should be aware that any information transmitted
                    electronically may not be secure.</p>
                <h2>Legal Warranty</h2>
                <p>The content of this web site contains general information and may not reflect current legal developments. Such
                    content is designed only to give general information on the developments actually covered. It is not intended to be
                    a comprehensive summary of recent developments in the law, treat exhaustively the subjects covered, provide legal
                    advice or render a legal opinion. Since the law is constantly changing and since the law will vary based on
                    different facts and circumstances, statements on this web site regarding the status of a given law or legal issue
                    may not be current or applicable to your particular situation. You should not take any action based on the
                    information in this web site.</p>
                <h2>Bar Membership</h2>
                <p>Although this web site may be viewed from any of the 50 United States of America and territories, as well as any
                    country, the Firm primarily practices in the State of Florida. Lawyers named in the web site may not be authorized
                    to practice law except in jurisdictions where the Firm maintains offices.</p>
                <h2>Links</h2>
                <p>This web site occasionally contains links to other web pages; however, the inclusion of such links does not
                    constitute referrals or endorsements of the linked entities. Links to organizations and governmental agencies are
                    provided as a convenience to our readers. The Firm does not endorse and is not responsible for any third-party
                    content that may be accessed from its web site and does not recommend or endorse the use of any third-party's
                    services. The links are to be accessed at the user's own risk, and the authors of this web site make no
                    representations or warranties about the content of these links.</p>
                <h2>Liability</h2>
                <p>The Firm assumes no responsibility for computer viruses resulting from use of our web site. Under no circumstances,
                    including, but not limited to, negligence, shall the Firm be liable for any special or consequential damages that
                    result from the use of, or the inability to use, the materials in this web site, even if the Firm has been advised
                    of the possibility of such damages.</p>
                <h2>Changes</h2>
                <p>The Firm may change these policies at any time without written notice to users. The changes will become effective
                    upon posting of the changes to the web site.</p>
                <h2>Last Update</h2>
                <p>These Terms and Conditions were last updated on April 2015.</p>

            </div>
        </div>

    </section>

</div>
{% endblock container %}