{% extends 'base.html' %} {% load static %} {% block title %}
<title>Fort Lauderdale Litigation Attorneys | Lash Goldberg</title>
{% endblock title %} {% block container %}
<div class="container-fluid p-0">
    <div class="row banner-image">
        <div class="col text-center animate__animated animate__fadeIn animate__delay-1s d-flex justify-content-center align-items-center">
            <h2 style="color: #ffff;font-weight: 300;">
                What We Do
            </h2>
        </div>
    </div>
    <section class="law_firm_description">
        <div class="row">
            <div class="col-md-8" id="left_sidebar">

                <div class="row">
                    <div class="col">
                        <h1 style="padding-top: 1rem;padding-bottom: 1rem;" class="text-uppercase">
                            Arbitration & Alternative Dispute Resolution
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Lash &amp; Goldberg LLP brings the same zealous advocacy skills to arbitration, mediation and other forms of alternative dispute resolution (&ldquo;ADR&rdquo;) that we apply to trials and appeals. In increasing numbers, employers,
                            health care organizations and other businesses utilize arbitration as an alternative to traditional court litigation to resolve their disputes. Our Firm&rsquo;s depth of experience as advocates serves our clients well in these
                            alternative dispute resolution forums. Arbitration may become as simple or as intricate as necessary to address the issues at hand, and Lash &amp; Goldberg LLP is equipped to handle any range of complexity.</p>
                        <p>We also advise clients on the management of risk through the drafting of arbitration agreements, including the selection of the administering organization and the arbitrator, arbitration rules, choice of law, venue and jurisdiction.
                        </p>
                        <p>In addition to serving as experienced advocates in arbitration proceedings, Lash &amp; Goldberg LLP has a wealth of experience in mediation. Traditionally required as a precondition to trial, Lash &amp; Goldberg LLP attorneys have
                            attended hundreds of mediations, both voluntary by agreement and court-ordered. While some may consider mediation to be a perfunctory step on the road to trial, we view mediation as a special opportunity to achieve any number
                            of critical objectives in our clients&rsquo; best interests.</p>
                        <p>We treat each mediation as an effective tool to obtain valuable information and key insights into an opponent&rsquo;s case, including its relative strengths and weaknesses.&nbsp; Like a finely crafted opening statement, we believe
                            that a thoughtfully-prepared, well-organized and powerful mediation presentation can persuade even the most recalcitrant opponent to view its case in a different light and, ultimately, facilitate the resolution of the most
                            difficult case.</p>
                        <h2>Arbitration and ADR Experience</h2>
                        <p>We serve clients in arbitration proceedings ranging from one-day to extended sessions stretching over many months. Like litigation, the arbitration may be high-exposure and high-stakes or small-to-medium-sized disputes. In any
                            matter, we apply our skill and experience to fit the circumstances and address our client&rsquo;s needs.</p>
                        <p>We prepare for mediation in much the same way as we do for an opening statement in an arbitration or a trial or a major court hearing on a case dispositive motion.&nbsp; Through detailed factual, legal and thematic preparation,
                            accompanied by the use of power point presentations, timelines, graphs, charts and other demonstrative aids as necessary and appropriate, Lash &amp; Goldberg LLP litigators use the mediation opening statement and the mediation
                            process as a whole as a unique opportunity to deliver a strong and carefully crafted message directly to opposing counsel and their clients.&nbsp; We believe that mediation requires a distinct skill set and approach and, through
                            meticulous preparation for and attendance at countless mediations, the Firm&rsquo;s attorneys have developed time-tested experience and a finely honed approach.</p>
                        <p>The Firm&rsquo;s experience covers the following areas:</p>
                        <ul>
                            <li>Contract disputes</li>
                            <li>Business torts</li>
                            <li>Employment and discrimination</li>
                            <li>Consumer disputes</li>
                            <li>Health care</li>
                            <li>Non-compete and non-solicitation agreements</li>
                        </ul>
                        <h2>Partners Also Serve as Arbitrators</h2>
                        <p>Founding partners Alan Lash and Martin Goldberg not only act as advocates for clients in arbitrations, but they are also entrusted by their peers and industry leaders to serve as arbitrators in large, complex arbitration proceedings.
                            Alan is member of the American Arbitration Association&rsquo;s National Healthcare Dispute Resolution Advisory Council and is the Vice Chair of Educational Programs for the American Health Lawyers Association&rsquo;s Alternative
                            Dispute Resolution Affinity Group. He has written and lectured extensively about an array of ADR topics and, as an arbitrator for both the AAA and AHLA, has presided over numerous large, complex arbitrations as a panel member,
                            panel chair or as the sole arbitrator of the dispute.</p>
                        <p>Marty Goldberg likewise acts as an arbitrator for the American Health Lawyers Association&rsquo;s Alternative Dispute Resolution Service, where he has served as the sole arbitrator or as a member of a panel in a number of cases.
                            A highly skilled and experienced advocate in arbitration, Marty is also a frequent lecturer regarding a variety of arbitration topics.</p>

                    </div>
                </div>

            </div>
            <div class="col-md-4" id="sidebar">
                <div style="background-color: #fff; padding:30px 30px;margin-top: 2rem;">
                    <div class="row my-3">
                        <div class="col">
                            <h3 class="text-uppercase">Featured Cases</h3>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col">
                            <div class="card">
                                <h3>
                                    <div class="card-header">
                                        <a href="#">Hospitals Stop the Expansion of a Florida Statute before Appellate Courts
                            
                                        </a>

                                    </div>
                                </h3>
                                <img src="{% static 'images/bg_h2.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">

                                    <p class="card-text">Through three different proceedings, Lash & Goldberg LLP defended hospitals against attempts by patients to expand…</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col">
                            <div class="card">
                                <h3>
                                    <div class="card-header">
                                        <a href="#">Hospitals Stop the Expansion of a Florida Statute before Appellate Courts
                    
                                        </a>

                                    </div>
                                </h3>

                                <div class="card-body">

                                    <p class="card-text">Through three different proceedings, Lash & Goldberg LLP defended hospitals against attempts by patients to expand…</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">

                            <a href="#" class="btnr" role="button">
                                Read More Cases
                            </a>
                        </div>
                    </div>
                </div>

                <div style="background-color: #fff; padding:30px 30px;margin-top: 2rem;">
                    <div class="row my-3">
                        <div class="col">
                            <h3 class="text-uppercase">Related News</h3>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col">
                            <div class="card">
                                <h3>
                                    <div class="card-header">
                                        <a href="#">Hospitals Stop the Expansion of a Florida Statute before Appellate Courts
                
                                        </a>

                                    </div>
                                </h3>
                                <img src="{% static 'images/bg_h2.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">

                                    <p class="card-text">Through three different proceedings, Lash & Goldberg LLP defended hospitals against attempts by patients to expand…</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row my-3">
                        <div class="col">
                            <div class="card">
                                <h3>
                                    <div class="card-header">
                                        <a href="#">Hospitals Stop the Expansion of a Florida Statute before Appellate Courts
                                        </a>

                                    </div>
                                </h3>

                                <div class="card-body">

                                    <p class="card-text">Through three different proceedings, Lash & Goldberg LLP defended hospitals against attempts by patients to expand…</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">

                            <a href="#" class="btnr" role="button">
                                Read More News
                             </a>

                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <div class="row" style="margin-top: 1rem;">
                            <div class="col">
                                <h3 class="text-uppercase">Practice Areas</h3>
                            </div>
                        </div>
                        <div class="row practice-areas">
                            <div class="col" style="margin-top: 1rem;">
                                <ul>
                                    <li>
                                        <a href="{% url 'inside_practice' %}"
                                        class="d-flex align-items-center justify-content-center">
                                        <span>Appellate Advocacya asdascz asddasdasxc asdaweadsac asdzcx</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'inside_practice' %}" class="d-flex align-items-center justify-content-center">
                                            <span>Appellate Advocacya asdascz asddasdasxc asdaweadsac asdzcx</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>

    </section>
    <section>
        <div class="row banner-image6">
            <div class="col justify-content-center d-flex align-items-center animate__animated animate__fadeIn animate__delay-1s"
                style="height: 70vh;">
                <h2 class="text-center" style="color: #ffff;vertical-align: middle;font-size: 2.5em;font-weight: 300;">
                    We Look Forward To Working With <strong>You</strong>.
                </h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center learn-more"
            style="background: #EEF2F7;padding-top: 25vh;padding-bottom: 25vh;">
            <div class="col-10">
                <p class="text-center animate__animated animate__fadeIn animate__delay-1s" style="font-size: 1.5rem;">
                    Learn more about <a href="{% url 'practices' %}">what we do</a>, <a href="{% url 'law_firm' %}">who we are</a>, and <a href="{% url 'offices' %}">where we are</a>.
                </p>
            </div>
        </div>
    </section>

</div>
{% endblock container %}