{% extends 'base.html' %} {% load static %} {% block title %}
<title>Miami Litigation Law Firm | Lash Goldberg</title>
{% endblock title %} {% block container %}
<div class="container-fluid p-0">
    <div class="row banner-image">
        <div class="col text-center animate__animated animate__fadeIn animate__delay-1s d-flex justify-content-center align-items-center">
            <h2 style="color: #ffff;font-weight: 300;">
                Our Business is Understanding <strong>Yours</strong>
            </h2>
        </div>
    </div>
    <section class="law_firm_description">
        <div class="row">
            <div class="col">
                <a href="#" onclick="window.print()" class="print" style="display: none;">PRINT THIS PAGE</a>
                <h1 style="text-align: center;padding-top: 1rem;padding-bottom: 1rem;">Who We Are – About Lash &amp; Goldberg LLP</h1>
                <h2>An Experienced Litigation Law Firm</h2>
                <p>With offices in Miami, Ft. Lauderdale, and Tampa, Florida, Lash &amp; Goldberg LLP represents business interests in litigation matters within Florida and throughout the United States. The Firm handles a broad range of litigation cases,
                    from complex commercial matters to class actions and qui tam and white collar criminal defense. The Firm also counsels companies on administrative and regulatory matters and conducts corporate compliance reviews and investigations.
                </p>
                <p>Founded in 1996, Lash &amp; Goldberg LLP has developed a focused litigation practice. From a well-established foundation of knowledge and understanding of our clients’ business interests, the Firm assists corporate clients with litigation
                    challenges in all facets of their business and operations. With years of trial experience, the Firm’s lawyers are able to simplify and effectively convey the nuances of complex business disputes to state and federal court judges and
                    juries, arbitration panels, administrative hearing officers, and in various appellate forums throughout the country.</p>
                <p>The Firm has demonstrated a depth and breadth of experience and bench strength by representing some of the nation’s largest companies for decades, and litigating with and against some of the world’s largest law firms. Along with a robust
                    litigation practice, we pledge and maintain the highest degree of flexibility and personal service any client would want from their counsel and law firm.</p>
                <h2>Our Practice Areas</h2>
                <p>We practice in the following areas:</p>
                <ul>
                    <li><strong>Alternative Dispute Resolution</strong> - Arbitration and mediation often provide the most efficient, cost-effective method for resolving conflict. Lash &amp; Goldberg LLP regularly resolves disputes outside of the traditional
                        courtroom setting through established Alternative Dispute Resolution (ADR) organizations, including the American Arbitration Association, JAMS and the American Health Lawyers Association ADR Service.</li>
                    <li><strong>Complex Business Litigation</strong> - The Firm handles federal and state court claims ranging from breach of contract to all forms of business torts.</li>
                    <li><strong>Class Action Litigation</strong> - Lash &amp; Goldberg LLP has the substantial experience and extensive resources necessary to effectively litigate regional and national class actions. We handle class actions arising in a wide
                        range of industries involving a variety of substantive issues.</li>
                    <li><strong>Corporate, Partnership &amp; Shareholder Disputes</strong> - Disputes that arise between partners, principals or officers and directors can disrupt operations and jeopardize business relationships. Lash &amp; Goldberg LLP helps
                        resolve corporate, partnership and shareholder issues discretely, quickly and appropriately to avoid unnecessary disruption in business. We defend public and private companies and their officers and directors in lawsuits brought
                        by shareholders and partners.</li>
                    <li><strong>Employment Litigation</strong> - We defend corporate employers in contract disputes, discrimination and disability claims, whistleblower actions, and all other forms of workplace grievances.</li>
                    <li><strong>Health Care Operations &amp; Litigation</strong> - Lash &amp; Goldberg LLP assists health care institutions with legal issues that affect payment, regulatory compliance, government oversight and other complex matters unique
                        to the health care industry. Our clients include health systems, hospitals and large corporate multispecialty provider groups.</li>
                    <li><strong>Real Estate Litigation</strong> – The Firm represents clients in a variety of real estate litigation matters, including those arising out of raw land transactions, construction projects, commercial landlord-tenant relationships,
                        workouts and loan restructurings.</li>
                    <li><strong>Sports &amp; Entertainment Litigation</strong> – We understand the unique interplay between law and business in the sports and entertainment industries. We have represented athletes, journalists, agents and broadcasters in
                        a variety of complex commercial litigation matters.</li>
                    <li><strong>Consumer Litigation Defense</strong> – Our representation includes defense of both individual and class action claims alleging a violation of consumer protection laws. As this landscape evolves, the Firm's lawyers stay abreast
                        of technological developments that create legal implications for our business clients.</li>
                    <li><strong>Government Investigations, False Claims Act &amp; White Collar Criminal Defense</strong> - Stricter federal regulations and intensified law enforcement have prompted an increase in the number of investigations of companies
                        and their executives. Our attorneys counsel clients who face criminal indictment and related civil and administrative challenges at the federal, state and local levels. We act quickly and firmly at all stages of the process — from
                        investigation to trial and appeal.</li>
                    <li><strong>Appellate Advocacy</strong> – We handle appeals at the federal and state level in a variety of matters involving corporate and partnership disputes, real estate litigation, employment claims, business torts and commercial disputes.
                        Our appeals often involve novel procedural or substantive issues.</li>
                </ul>
                <h2>Resolving Challenging Commercial Disputes</h2>
                <p>Experience, service and results are the pillars of success at Lash &amp; Goldberg LLP. We take great pride in working with our clients to resolve their difficult and complicated cases. Our business is understanding your business. We look
                    forward to working with you.</p>
                
                <h2>Awards and Recognitions</h2>
                <p>Lash &amp; Goldberg is regularly recognized among the nation’s top law firms. The firm was ranked in the 2020 edition of Chambers USA: America’s Leading Lawyers for Business for Healthcare in Florida. Founding Partners Alan Lash and Martin
                    B. Goldberg were also recognized by Chambers USA with rankings in Healthcare in Florida. The firm has been named one of the country’s Best Law Firms, as reported in U.S. News &amp; World Report, as well as a Law360 2018 Health Care
                    Practice Group of the Year. </p>
                <p>Our attorneys have been recognized as "Lawyer of the Year" from Best Lawyers®, The Best Lawyers In America®, “Distinguished Leader” and “Most Effective Lawyers” by ALM's Daily Business Review, and "Top Lawyers in South Florida" by the
                    South Florida Legal Guide. Lash &amp; Goldberg attorneys have received <span>awards</span> such as South Florida Legal Guide’s "Top Up and Comer Lawyers Under age 40," Daily Business Review’s “On the Rise,” Super Lawyers’ “Rising Stars,”
                    South Florida Business and Wealth’s "Up &amp; Comer <span>Awards</span>," and more. Many of our lawyers are also listed in Martindale-Hubbell Law Directory’s Bar Register of Preeminent Lawyers.</p>
               
            </div>
        </div>

    </section>

</div>
{% endblock container %}