{% extends 'base.html' %} {% load static %} {% block title %}
<title>Miami Commercial Litigation Attorneys | Lash Goldberg</title>
{% endblock title %} {% block container %}

<div class="container-fluid p-0">

    <div class="offices">
        <div class="row">
            <div class="col-md-4 col-sm-12 my-3">
                <div class="card">
                    <img class="card-img-top" src="{{offices.cover_pic.url}}" alt="Card image cap">
                    <div class="card-body">
                        
                            <h2 style="font-weight: 900;text-transform: none;">Lash & Goldberg</h2>
                        
                        <p>
                            {{offices.address}}<br>
                            {{offices.address2}}<br>
                            {{offices.state}}, {{offices.zip_code}}<br>
                            Phone: {{offices.phone}}<br>
                            Fax: {{offices.fax}}<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock container%}