{% extends 'base.html' %} {% load static %} {% block title %}
<title>Miami Litigation Law Firm | Lash Goldberg</title>
{% endblock title %} {% block container %}
<div class="container-fluid p-0">
    <div class="row banner-image">
        <div class="col text-center animate__animated animate__fadeIn animate__delay-1s d-flex justify-content-center align-items-center">
            <h2 style="color: #ffff;font-weight: 300;">
                What We Do
            </h2>
        </div>
    </div>
    <section class="law_firm_description">
        <div class="row">
            <div class="col">
                <h1 style="text-align: center;padding-top: 1rem;padding-bottom: 1rem;">A NIMBLE LAW FIRM WITH A ROBUST LITIGATION PRACTICE</h1>
                <p class="text-center">Lash & Goldberg is a Florida-based, boutique law firm with a singular focus: we litigate major commercial cases for
                leading companies in key industries. We possess the depth, skill and experience to represent the world’s industry
                leaders with and against some of the largest law firms. Our success and the longevity of our client relationships are a
                testament to our strategy and focus. From offices in Miami, Ft. Lauderdale and Tampa, our partners lead a dynamic team
                of litigators who work closely with in-house counsel, senior business executives and entrepreneurs in Florida and
                nationwide to deliver practical, strategically sound and results-oriented advice.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                    <h1 style="text-align: center;padding-top: 1rem;padding-bottom: 1rem;">PRACTICE AREAS</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12 text-center mx-md-5" style="margin-top: 1rem;background: #ffff;">
                <a href="#" style= padding: 30px;>
                    Appellate Advocacy
                </a>
            </div>
            <div class="col-md-3 col-sm-12 text-center mx-md-5" style="margin-top: 1rem;background: #ffff;">
                <a href="#" style= padding: 30px;>
                    Appellate Advocacy
                </a>
            </div>
            <div class="col-md-3 col-sm-12 text-center mx-md-5" style="margin-top: 1rem;background: #ffff;">
                <a href="#" style= padding: 30px;>
                    Appellate Advocacy
                </a>
            </div>
            <div class="col-md-3 col-sm-12 text-center mx-md-5" style="margin-top: 1rem;background: #ffff;">
                <a href="#" style= padding: 30px;>
                    Appellate Advocacy
                </a>
            </div>
            <div class="col-md-3 col-sm-12 text-center mx-md-5" style="margin-top: 1rem;background: #ffff;">
                <a href="#" style= padding: 30px;>
                    Appellate Advocacy
                </a>
            </div>
        </div>
    </section>
</div>
{%endblock container%}